

body{
    background-color: black;
}
body{
    font-size: x-large;
}
h1{
    font-size:larger;
}

p{
    color: aliceblue;
}
h1{
    color: aliceblue;
}
body{
    margin-left: 25%;
}
body{
    width: 50%;
}
h3{
    color: azure;
}